.navbar{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
width: 150px;

}
.navbar h1{
    color: red;
}
.navbar .navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color:#49557e ;
    border: 3px solid red;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.navbar button:hover{
    background-color: #fff4f2;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #4681f4;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

@media screen and(max-width:1050px) {
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar .navbar-right button{
        padding: 8px 25px;
    }


}


@media screen and(max-width:900px) {
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar .navbar-right{
        gap: 10px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 7px 10px;
        font-size: 10px;
    }


}



@media (max-width:750px) {
    
    .navbar .navbar-menu {
        display: none;
    }

    .navbar-right button{
        padding: 7px 10px;
        font-size: 10px;
    }
    .navbar .navbar-right{
        gap: 15px;
    }

   

}